##############################  Database connections string #############################

DATABASE_URL=
############################## Passport JWT secret key  ##############################

JWT_SECRET_KEY=

############################## Google Credentials  ##############################

GOOGLE_BASE_URL=



############################# Remote Redis Credentials  #############################

#REDIS_SERVER_URL=

#REDIS_SERVER_PORT=

############################## Local Redis Credentials ##############################

REDIS_SERVER_URL=

REDIS_SERVER_PORT=


############################# LOCAL TEST TOKEN  #############################

LOCAL_TEST_TOKEN=

LOCAL_TEST_USER=
LOCAL_USER=

POSTMARK_API_KEY=

##########################     SMTP      #############################
EMAILS_FROM=
PASSWORD=
SMTP_HOST=
EMAILS_TO_1=
EMAILS_TO_2=